  .first {
    font-size: 150%;
    font-weight: italic;
}  

article p:last-child {
    font-size: 120%;
    font-weight: bold;
} 


a:visited  { color: #00FF00; }/* visited link */
a:hover { /* mouse over link */ color: #FF00FF; }
